@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Barlow+Semi+Condensed|Mr+Dafoe|Pacifico|Playfair+Display&display=swap');

#output{
  text-align:center;
  background-color:#b74848;
  padding:5% 5%;
  margin-top:25px;
}
.main{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:100%;
  height:600px;
  transition: all .5s ease-in;
}
.top-margin{
 margin-top:35px;
 transition:smooth all .3s;
}
.main2{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:100%;
  height:400px;
  transition: all .5s ease-in;
}
.main3{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:100%;
  height:350px;
  transition: all .5s ease-in;
}
.mainContent{
  width:80%;
  padding-top:20px;
  margin-top:20px;
}
.logo{
  width:25%;
  margin-top:25px;
  margin-bottom:25px;
  transition: all .5s ease-in;
}
.logo2{
  width:15%;
  margin-top:0px;
  transition: all .5s ease-in;
}
#zipCode{
 width:25%;
 height:50px;
 margin-top:15px;
 background-color:transparent;
 border-style:none;
 border-bottom:1px solid #6c6c6c;
 text-align:center;
 font-size:1.25rem;
 transition:all .25s ease-out;
 font-family:"Playfair Display";
 outline:none;
}
#zipCode:focus{
 outline:none;
}
#zipCode:hover{
 width:40%;
 background-color:white;
 border:1px solid #9c9c9c;
}
.description{
  font-family:"Playfair Display";
  font-size:1.25rem;
  color:#2c2c2c;
  transition:all .25s ease-in;
}
h2{
  font-family: "Playfair Display";
  font-size:4rem;
  color:white;
  margin-bottom:10px;
}
h3{
  color:#2c2c2c;
  font-family:"Playfair Display";
  font-size:1.5rem;
}

.col-md-2{
  padding:50px 0px !important;
  margin:0px 5px;
  flex: 0 0 14.66667% !important;
}
.weatherDiv{
  background-color:#ffffff;
  text-align:center;
  padding:50px 0px;
  border-radius:20px;
  transition:all .1s ease-in;
  box-shadow:0px 5px 5px #999999;
}
.weatherDiv:hover{
  opacity:1;
  padding:55px 0px;
  box-shadow:0px 10px 10px #9c9c9c;
}
.weatherDivContainer{
  margin:10px 0px 0px 0px;
  transition:ease all .2s;
}
.weatherDivContainer:hover{
  margin:0px 0px 0px 0px;
}
.weatherDiv > h3{
  color:#b74848;
  font-size:1.25rem;
}

.row{
  margin:0px !important;
}

.weatherRow{
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}
.temperature{
  color:#1c1c1c;
  font-size:2.25rem;
}
.degrees{
  font-size:18px;
}
.hidden{
  display:none;
}
.reveal{
  display:block;
}
body{
  background:url("../images/prepBackground.png");
  background-size: cover;
  height:1134px;
}
#submitZipCode{
  margin:25px;
  padding:5px 40px;
  background-color:transparent;
  border:2px solid #b74848;
  color:#b74848;
  font-family:"Barlow Semi Condensed";
  font-size:1.25rem;
  transition:all .25s ease-out;
  outline:none;
}
#submitZipCode:hover{
  background-color:#b74848;
  border:2px solid #b74848;
  color:#FFFFFF;
  outline:none;
}
#coldFoods{
  padding-top:25px;

  text-align:center;
  justify-content:center;

}
#hotFoods{
  padding-top:25px;

  text-align:center;
  justify-content:center;

}
.forecast{
  margin-bottom: 25px;
  text-align:center;
  font-family:"Playfair Display";
  font-size:2.0rem;
}
.recipeButton{
  margin:25px 0px;
  background-color:transparent;
  border:1px solid #b74848;
  color:#b74848;
  padding:5px 50px;
  font-family:"Barlow Semi Condensed";
  font-size:1.25rem;
  transition:all .15s ease-in;
}
.recipeButton:focus{
   margin:25px 0px;
  background-color:#b74848;
  color:white;
  padding:5px 75px;
  font-family:"Barlow Semi Condensed";
  outline:none;
}
.recipeButton:hover{
  margin:25px 0px;
  background-color:#b74848;
  color:white;
  padding:5px 75px;
  font-family:"Barlow Semi Condensed"
}
#findTheLinkDiv{
  text-align:center;
}
.findTheLink{
  color:white;
  background-color:#b74848;
  margin-bottom:0px;
  font-size:1.25rem;
}
#sourceLink{
  text-align:center;
  background-color:#b74848;
  padding:15px 35px 35px 35px;
  color:white;
}
.readyIn{
  padding-top:0px;
  padding-bottom:10px;
  font-size:1.5rem;
}
.minutes{
  font-size:2.75rem;
  color:white;
}
.divider{
  border-bottom:5px solid #b74848;
  margin:20px 0px;
  width:50px;
  text-align:center;
}
#recipeImage{
  border-style: 10px solid white !important;
}
.recipeDiv{
  padding:25px 0px;
}
.findRecipeButton{
  border:2px solid #ffffff;
  color:white;
  background-color:#b74848;
  font-family:"Barlow Semi Condensed";
  padding:5px 15px;
  margin-top:25px;
  font-size:1.25rem;
  transition:ease all .2s;
}
.findRecipeButton:hover{
  border:2px solid #ffffff;
  color:#b74848;
  background-color:white;
  font-family:"Barlow Semi Condensed";
  padding:5px 15px;
  margin-top:25px;
  font-size:1.25rem;
}
.weatherStatus{
  color: #6c6c6c;
  font-family:"Barlow Semi Condensed";
}

.errorModal{
  margin-top:25px;
}

.errorMessage{
  color: #b74848;
  font-family:"Barlow Semi Condensed";
  margin-bottom:0px;
}

.hidden{
  opacity: 0;
  pointer-events:none;
  transition: ease all .2s;
}

@media screen and (min-width: 1600px) {
  .main{
    height:850px;
    transition: all .5s ease-in;
  }
  .main2{
    height:400px;
    transition: all .5s ease-in;
  }
  .main3{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:100%;
    height:400px;
    transition: all .5s ease-in;
  }
}

@media screen and (min-width: 1600px) {
  .main{
    height:850px;
    transition: all .5s ease-in;
  }
  .main2{
    height:400px;
    transition: all .5s ease-in;
  }
  .main3{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:100%;
    height:400px;
    transition: all .5s ease-in;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .weatherColumn{
    flex-basis:50%;
    justify-content:center;
  }
  .weatherDiv{
    flex-basis:45%;
  }
     .main3{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:100%;
    height:350px;
    transition: all .5s ease-in;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

.logo{
 width:50%;
  margin-top:30px;
  padding-top:30px;
  margin-bottom:25px;
  transition: all .5s ease-in;
}
.logo2{
  width:25%;
  margin-top:10px;
  padding-top:10px;
  margin-bottom:25px;
  transition: all .5s ease-in;
}
.weatherColumn{
  display:flex;
  justify-content:center;
}
.weatherDiv{
  width:90%;
}
#zipCode{
  width:60%;
}
#zipCode:focus{
  width:80%;
}
.recipeButton{
  width:80%;
  background-color: #b74848;
  color:white;
  margin:10px 0px;
}
.recipeButton:focus{
  width:90%;
}
#recipeImage{
  width:100%;
  height:auto;
 }

.main3{
display:flex;
justify-content:center;
align-items:center;
text-align:center;
width:100%;
height:400px;
transition: all .5s ease-in;
}

}
